@model BankDashboardViewModel
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total Branches</h5>
                <p class="card-text">Display branch count here</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Employee</h5>
                    <p class="card-text">Display branch count here</p>
                </div>
            </div>
        </div>
    </div>
